.gridBoxShow{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

@media all and (max-width:800px) {
    .gridBoxShow{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media all and (max-width:500px) {
    .gridBoxShow{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}